<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/e1f48dd0e6.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  {% if title %}
  <title>def twit(@{{ title }})</title>
  {% else %}
  <title>def twit()</title>
  {% endif %}


</head>

<body>

  <nav class="navbar bg-dark">
    <div>
      <h1 id="logo">
        <a href="{{ url_for('home') }}">
          {% if title %}
          <code>def twit(@{{ title }})</code>
          {% else %}
          <code>def twit()</code>
          {% endif %}
        </a>
      </h1>
    </div>

    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('predict') }}">Predict</a></li>
    </ul>
  </nav>

  <section class="banner">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </section>

  {% block content %}
  {% endblock content %}

  {% block footer %}
  {% endblock footer %}

</body>

</html>