{% extends 'base.html' %}

{% block content %}
<section class="container">

  <div class="content">
    <h2>Users currently in database</h2>
    <div class="users my-1">
      {% for user in users %}
      <div class="user">{{ user.handle }}</div>
      {% endfor %}
    </div>
  </div>

  <div class="content my-4">
    <form class="form" action="" method="post">
      <!-- Creates the csrf token -->
      {{ form.hidden_tag() }}
      <fieldset class="form">
        <legend>Get tweets for a user</legend>
        <div class="form-group">
          {{ form.handle.label }}
          {{ form.handle }}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-primary") }}
        </div>
      </fieldset>
    </form>
  </div>

</section>

<!-- <div class="spacer"></div> -->
{% endblock content %}

{% block footer %}
<footer class="footer footer-fixed bg-dark">
  <ul>
    <li>
      <a class="btn btn-danger" href="{{ url_for('reset') }}">
        Reset DB
      </a>
    </li>
  </ul>
</footer>
{% endblock footer %}