{% extends 'base.html' %}

{% block content %}
<section class="container">
  <div class="content">
    <form class="form" action="" method="post">
      <!-- Creates the csrf token -->
      {{ form.hidden_tag() }}
      <fieldset class="form">
        <legend>Compare users</legend>
        <div class="form-group">
          {{ form.user_1.label }}
          {{ form.user_1 }}
        </div>
        <div class="form-group">
          {{ form.user_2.label }}
          {{ form.user_2 }}
        </div>
        <div class="form-group">
          {{ form.tweet_text.label }}
          {{ form.tweet_text }}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-primary") }}
        </div>
      </fieldset>
    </form>
  </div>
</section>

{% endblock content %}

{% block footer %}
<footer class="footer footer-fixed bg-dark">
  <ul>
    <li>
      <a class="btn btn-danger" href="{{ url_for('reset') }}">
        Reset DB
      </a>
    </li>
  </ul>
</footer>
{% endblock footer %}