// Core Styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $shade3;
  color: $light;
}

a {
  text-decoration: none;
  color: $primary;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}